@media screen and (min-width: 768px) and (max-width: 1024px) {
  #wrapper {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    padding: 0 35px;
    background-color: white;
  }
  #wrapper .inspiration {
    margin-top: 150px;
  }
  #wrapper header {
    height: 113px;
    width: 100%;
    font-style: latoReg;
    line-height: 1;
  }
  #wrapper header hr {
    width: 94%;
    position: absolute;
    top: 107px;
  }
  #wrapper header .logo {
    background-image: url("../img/Logo.png");
    position: absolute;
    width: 42px;
    height: 42px;
    left: 20px;
    top: 32px;
    z-index: 333;
  }
  #wrapper header nav ul {
    position: absolute;
    left: 95px;
    top: 40px;
  }
  #wrapper header nav ul li {
    display: inline-block;
  }
  #wrapper header nav ul .buttons, #wrapper header nav ul .woman, #wrapper header nav ul .men, #wrapper header nav ul .kids, #wrapper header nav ul .soon {
    margin-left: 48px;
  }
  #wrapper header .right_side {
    position: absolute;
    right: 70px;
    top: 43px;
  }
  #wrapper header .right_side .search {
    display: inline-block;
    position: relative;
    width: 0%;
    min-width: 60px;
    transition: width 0.3s;
    top: -23px;
    right: 36px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #wrapper header .right_side .search input {
    display: inline-block;
    position: absolute;
    right: 0;
    border: 1px solid #a3a3a3;
  }
  #wrapper header .right_side .search input[name="search"] {
    right: 59px;
    height: 36px;
    width: 0px;
    visibility: hidden;
    z-index: 300;
    transition: 1s ease-in-out;
  }
  #wrapper header .right_side .search .search-icon {
    display: inline-block;
    position: absolute;
    width: 39px;
    height: 39px;
    border: 1px solid #a3a3a3;
    text-align: center;
    z-index: 333;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  #wrapper header .right_side .search:hover .search-icon {
    background-image: url("../img/search_hover.png");
    background-color: #a3a3a3;
  }
  #wrapper header .right_side .search:hover input[name="search"] {
    visibility: visible;
    width: 90px;
  }
  #wrapper header .right_side .basket {
    display: inline-block;
    position: relative;
  }
  #wrapper header .right_side .basket .basket_icon {
    background-image: url("../img/basket.png");
    width: 17px;
    height: 17px;
    display: inline-block;
  }

  #main .container .slider {
    margin-top: 242px;
    text-align: center;
  }
  #main .container .slider .check_button {
    border: 2px solid #a3a3a3;
    width: 230px;
    height: 58px;
    display: block;
    line-height: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
  }
  #main .container .slider .check_button:hover {
    background-color: #e5e5e5;
  }
  #main .container .squares {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    margin-top: 130px;
  }
  #main .container .squares .row div {
    width: 23vw;
    height: 23vw;
    display: inline-block;
    background: #dbdbdb;
    text-align: center;
    vertical-align: middle;
  }
  #main .container .squares .row div h2 {
    padding-top: 7vw;
    color: white;
  }
  #main .container .squares .row:nth-child(odd) div:nth-child(even) {
    background: #606060;
    color: white;
  }
  #main .container .squares .row:nth-child(even) div:nth-child(odd) {
    background: #606060;
    color: white;
  }
  #main .container .signup {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    margin-top: 8%;
  }
  #main .container .signup form {
    width: 100%;
    margin-top: 60px;
  }
  #main .container .signup form label input {
    height: 49px;
    width: 470px;
    padding-left: 10px;
  }
  #main .container .signup form label input::-webkit-input-placeholder {
    font-family: latoItalic;
    font-size: 11px;
  }
  #main .container .signup form label input:-moz-placeholder {
    font-family: latoItalic;
    font-size: 11px;
  }
  #main .container .signup form label input::-moz-placeholder {
    font-family: latoItalic;
    font-size: 11px;
  }
  #main .container .signup form label input:-ms-input-placeholder {
    font-family: latoItalic;
    font-size: 11px;
  }
  #main .container .signup form label input[type='submit'] {
    height: 54px;
    width: 94px;
    outline: none;
    border: none;
    position: absolute;
    text-align: center;
    color: #e5e5e5;
    background-color: #f68236;
  }
  #main .container .signup form label input[type='submit']:hover {
    background-color: #e67429;
    color: white;
  }

  footer {
    padding-top: 32px;
  }
  footer .collection {
    width: 15vw;
  }
  footer .site {
    left: 25vw;
  }
  footer .shop {
    left: 48vw;
  }
  footer .social {
    left: 80%;
  }
}
