@media screen and (max-width: 768px) {
  #wrapper {
    padding: 0 3%;
    background-color: white;
  }
  #wrapper header {
    height: 350px;
    border-bottom: 1px solid #606060;
  }
  #wrapper header div .logo {
    background-image: url("../img/Logo.png");
    position: absolute;
    width: 59px;
    height: 59px;
    top: 21px;
    left: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
  }
  #wrapper header div .right_side {
    position: absolute;
    right: 2.5%;
    top: 0.5%;
  }
  #wrapper header div .right_side .search {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    width: 0%;
    min-width: 60px;
    transition: width 0.3s;
    position: absolute;
    right: 16vw;
    top: 1.8vh;
  }
  #wrapper header div .right_side .search input {
    display: inline-block;
    position: absolute;
    right: 0;
    border: 2px solid #a3a3a3;
  }
  #wrapper header div .right_side .search input[name="search"] {
    right: 59px;
    height: 16px;
    width: 0px;
    visibility: hidden;
    z-index: 300;
    transition: 1s ease-in-out;
  }
  #wrapper header div .right_side .search .search-icon {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #a3a3a3;
    text-align: center;
    z-index: 333;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  #wrapper header div .right_side .search:hover .search-icon {
    background-image: url("../img/search_hover.png");
    background-color: #a3a3a3;
  }
  #wrapper header div .right_side .search:hover input[name="search"] {
    visibility: visible;
    width: 90px;
  }
  #wrapper header div .right_side .basket {
    display: inline-block;
    border-left: 1px solid #e3e3e3;
    padding-left: 10px;
  }
  #wrapper header div .right_side .basket .basket_icon {
    background-image: url("../img/basket.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
    margin-right: 5px;
    margin-top: 12px;
  }
  #wrapper header nav {
    border-top: 1px solid #606060;
    position: relative;
    top: 98px;
    padding-top: 15px;
    left: 6px;
    text-align: center;
  }
  #wrapper header nav ul li {
    margin-bottom: 35px;
  }

  #main .slider {
    text-align: center;
  }
  #main .slider .check_button {
    display: none;
  }
  #main .squares {
    margin-top: 45px;
    width: 100%;
  }
  #main .squares .row {
    margin: 0 15vw;
    width: 68.5vw;
  }
  #main .squares .row div {
    background: red;
    height: 190px;
    vertical-align: top;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1px;
  }
  #main .squares .row div h2 {
    padding-top: 7vw;
    font-size: 30px;
    color: white;
  }
  #main .squares .row:nth-child(odd) div:first-child {
    background: #dbdbdb;
    height: 235px;
  }
  #main .squares .row:nth-child(odd) div:nth-child(3) {
    background-color: pink;
    height: 150px;
  }
  #main .squares .row:nth-child(odd) div:last-child {
    background-color: violet;
    height: 280px;
  }
  #main .squares .row:nth-child(even) div:first-child {
    background: #dbdbdb;
    height: 275px;
  }
  #main .squares .row:nth-child(even) div:nth-child(3) {
    background-color: pink;
    height: 195px;
    line-height: 1.75;
  }
  #main .squares .row:nth-child(even) div:nth-child(2) {
    background-color: pink;
    height: 230px;
  }
  #main .squares .row:nth-child(even) div:last-child {
    background-color: violet;
    height: 280px;
  }
  #main .signup {
    text-align: center;
    width: 90vw;
    margin: 7.5vh auto;
  }
  #main .signup form {
    margin-top: 60px;
    width: 100vw;
    position: relative;
    left: -9.5vw;
    top: -1vh;
  }
  #main .signup form label input {
    height: 48px;
    width: 55vw;
  }
  #main .signup form label input::-webkit-input-placeholder {
    font-family: latoItalic;
    font-size: 11px;
  }
  #main .signup form label input:-moz-placeholder {
    font-family: latoItalic;
    font-size: 11px;
  }
  #main .signup form label input::-moz-placeholder {
    font-family: latoItalic;
    font-size: 11px;
  }
  #main .signup form label input:-ms-input-placeholder {
    font-family: latoItalic;
    font-size: 11px;
  }
  #main .signup form label input[type='submit'] {
    height: 54px;
    width: 94px;
    outline: none;
    border: none;
    position: absolute;
    text-align: center;
    color: #e5e5e5;
    background-color: #f68236;
  }
  #main .signup form label input[type='submit']:hover {
    background-color: #e67429;
    color: white;
  }
  #main .inspiration .right {
    left: 82vw;
  }

  footer .collection, footer .site, footer .shop {
    display: none;
  }
  footer .social {
    position: static  !important;
    border: none !important;
    margin: 0 auto !important;
    width: 90% !important;
    font-size: 20px !important;
    text-align: center;
  }
  footer .social h3 {
    text-align: center;
    font-size: 26px;
    letter-spacing: 7px;
  }
  footer .social p {
    padding-top: 30px;
  }
}
