#basket {
  border-bottom: 1px solid #a3a3a3;
  width: 100%;
}
#basket header {
  text-align: center;
}
#basket .navigation {
  width: 100%;
  margin: 3% 0;
}
#basket .navigation a {
  display: inline-block;
  position: relative;
  right: -65.5%;
}
#basket .navigation button {
  position: relative;
  right: -73.5%;
  outline: none;
  border: none;
  width: 174px;
  height: 53px;
  font-family: latoReg;
  font-size: 11px;
  background-color: #f68236;
  transition: background-color 1s,color 1s;
}
#basket .navigation button:hover {
  background-color: #e67429;
  color: white;
}
#basket header {
  border: none;
}
#basket delete {
  cursor: pointer;
}
#basket .sum {
  background-color: #e5e5e5;
  text-align: right;
  padding-right: 10%;
}
#basket .sum span:nth-child(1) {
  position: absolute;
  font-weight: bold;
  right: 34%;
}
#basket .sum span:not(:first-child) {
  margin-right: 12%;
  color: #f68236;
}
#basket table {
  width: 100%;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
#basket table th td {
  font-size: 13px;
  color: #909090;
  text-align: left;
}
#basket table tbody {
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#basket table tbody tr {
  margin: 2% 0;
  font-family: latoReg;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}
#basket table tbody tr td:first-child img {
  border: 1px solid #a3a3a3;
}
#basket table tbody tr td:nth-child(2) {
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 45%;
}
#basket table tbody tr td {
  text-align: left;
  width: 20%;
}

.popup {
  position: fixed;
  left: 35%;
  top: 30%;
  display: none;
  width: 30%;
  height: 105px;
  text-align: center;
  border-radius: 5%;
  background-color: grey;
}
.popup h2 {
  padding: 10px;
  color: white;
}
.popup div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 10px;
}
.popup div a {
  display: inline-block;
  border-radius: 10%;
  font-family: latoReg;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: background-color 1s,color 1s;
  color: white;
}
.popup div a:link {
  text-decoration: none;
}
.popup div a:hover {
  background-color: whitesmoke;
  text-decoration: none;
  color: black;
}
.popup.display {
  display: block;
}

.subheader-small {
  color: #a3a3a3;
}

#ty {
  width: 100%;
  height: 45vh;
  text-align: center;
}
#ty div {
  padding: 5% 0;
}

@media screen and (max-width: 768px) {
  #basket header {
    height: 70px;
  }

  .navigation {
    width: 100%;
    height: 17vh;
  }

  .navigation button {
    position: static !important;
    margin: 0 38%;
  }

  .navigation a {
    display: block;
    left: 41%;
    top: 90px;
  }

  .popup {
    height: 150px;
  }

  #basket input[type="number"] {
    width: 3vw !important;
  }
  #basket table {
    border-top: 1px solid #e5e5e5;
  }
  #basket table tbody tr {
    padding-bottom: 3vh;
  }
  #basket table tbody tr:first-child {
    display: none;
  }
  #basket table tbody tr td {
    margin-left: 10px;
  }
  #basket table tbody tr td:first-child {
    margin-left: 0px;
    margin-right: 10px;
  }
  #basket table tbody tr td:first-child img {
    width: 20vw !important;
    height: 20vh !important;
  }
  #basket table tbody tr td:not(:first-child) {
    display: block;
    position: relative;
  }
  #basket table tbody tr td:nth-child(3) {
    top: 53px;
    left: -20vw;
  }
  #basket table tbody tr td:nth-child(4) {
    top: 70px;
    left: -30vw;
  }
  #basket table tbody tr td:nth-child(5) {
    top: 90px;
    left: -40vw;
  }
  #basket table tbody tr td:nth-child(6) {
    top: 120px;
    right: -15vw;
  }
  #basket table tbody tr td:nth-child(7) {
    right: -5vw;
  }
}
