@font-face {
  font-family: latoReg;
  src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: latoBold;
  src: url(../fonts/lato/Lato-Bold.ttf);
}
body {
  overflow-x: hidden;
}

@font-face {
  font-family: latoItalic;
  src: url(../fonts/lato/Lato-Italic.ttf);
}
.error {
  border: 1px solid red;
  transition: border 2s;
}

body nav {
  line-height: 1.4;
}

.breadcrumbs {
  height: 40px;
  width: 100%;
  margin-top: 2%;
  font-family: latoReg;
}
.breadcrumbs ul li {
  display: inline-block;
}
.breadcrumbs ul li:not(:first-child):before {
  content: '/ ';
}
.breadcrumbs ul li:not(:first-child) a {
  position: relative;
  left: 2%;
}
