@media screen and (max-width: 1024px) {
  #sizes {
    margin: 40px 20% !important;
  }
}
@media screen and (max-width: 768px) {
  #item #descr div:nth-child(4) {
    width: 100% !important;
  }
}
@media screen and (max-width: 440px) {
  #sizes {
    margin: 40px 10% !important;
  }

  #item .images .main img {
    height: 350px !important;
  }
}
#item #descr {
  text-align: center;
  margin-top: 70px;
}
#item #descr div:nth-child(4) {
  width: 620px;
  margin: 50px auto;
}
#item #descr div h3 {
  text-align: center;
}
#item #descr input[type="button"] {
  outline: none;
  border: none;
  width: 174px;
  height: 53px;
  font-family: latoReg;
  font-size: 11px;
  background-color: #f68236;
  transition: background-color 1s;
}
#item #descr input[type="button"].added {
  background-color: limegreen;
}
#item #descr #sizes {
  margin: 40px 35%;
  padding: 10px 0;
  transition: border 1s;
}
#item #descr #sizes input[type="radio"] {
  display: none;
}
#item #descr #sizes label {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  line-height: 40px;
}
#item #descr #sizes input[type="radio"]:checked + label {
  background-color: lightgray;
}
#item .images {
  width: 80%;
  margin: auto;
  height: 600px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#item .images .main {
  width: 85%;
  margin-left: 10%;
  min-width: 85%;
}
#item .images .main img {
  height: 600px;
}
#item .images .preview {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  bottom: 0;
}
#item .images .preview img {
  border: 1px solid #a3a3a3;
  display: block;
  width: 80px;
  height: 70px;
  transition: width 1s,height 1s;
}
#item .images .preview img:hover {
  width: 90px;
  height: 90px;
  left: -20px;
}
