<div class="container">
                <div class="slider">
                    <h1>HAZY   SHADE OF   SPRING</h1>
                    <p class="subheader-big">Quisque lorem tortor fringilla sed, vestibulum id, eleifend <br>justo.</p>
                    <a class="check_button" href="#">CHECK NEW ARRIVALS</a>
                </div>
                <div class="squares">
                    <div class="row">
                        <div></div><div><h2>ELEGANT SHOES</h2><p class="subheader-small">BRAIDED LEATHER</p></div><div></div><div><h2>ELEGANT SHOES</h2><p class="subheader-small">BRAIDED LEATHER</p></div>
                    </div>

                    <div class="row">
                        <div><h2>ELEGANT SHOES</h2><p class="subheader-small">BRAIDED LEATHER</p></div><div></div><div><h2>ELEGANT SHOES</h2><p class="subheader-small">BRAIDED LEATHER</p></div><div></div>
                    </div>

                </div>
                <div class="signup">
                  <div> <h2>SIGN UP TO RECIEVE OUR UPDATES</h2>
                   <p class="subheader-small">Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices  volutpat.</p>
                   </div>
                   <form action="#">
                       <label><input type="text" name="email" placeholder="Your e-mail"><input type="submit" value="add"></label>
                   </form>
               </div>
               <div class="inspiration">
                    <div class="slide">
                        
                       
                        
                    </div>
                     <button class="left">Left</button><button class="right">Right</button>
               </div>
           
            </div>
            