<div id="all" class="container">
    <div class="breadcrumbs"><ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#all">Men</a></li>
    </ul></div>
    <div class="collection">
        <div class="itemlist">
            <h2>COATS</h2>
            <div class="items">
                <div class="item">
                  <div> <a href="#pdp/123"></a></div>
                   
                </div>

                <div class="item">
                        <div> <a href="#pdp/321"></a></div>
                </div>
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
            </div>
      
        </div>
              <div class="pricelist">
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
            </div>
        <div class="itemlist">
            <h2>OUTERWEAR</h2>
            <div class="items">
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
            </div>
        </div>
         <div class="pricelist">
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
            </div>
        <div class="itemlist">
            <h2>T-SHIRTS</h2>
            <div class="items">
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
                <div class="item">
                           <div> <a href="#pdp/123"></a></div>
                </div>
            </div>
        </div>
         <div class="pricelist">
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
                <div>   <h3>Double-Layered Top</h3>
                        <span>666.99$</span>
                        </div>
            </div>
    </div>
    <div class="subheader-big">Check our lookbook</div>
    <div class="inspiration">

                    <div class="slide">
                        
                        
                    </div>
                     <button class="left"></button><button class="right"></button>
               </div>
</div>
