<div class="container">
     <div class="breadcrumbs"><ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#basket">Basket</a></li>
     </ul></div>
     <div id="basket">
         <header>
            
                <h2>YOUR SHOPPING BAG</h2>
                <span class="subheader-small"> Items reserved for limited time only</span>
         </header>
         <div>
             <table>
                 <tr><td>PRODUCT</td>
                 <td>DESCRIPTION</td>
                 <td>COLOR</td>
                 <td>SIZE</td>
                 <td>QTY</td>
                 <td>AMOUNT</td>
                 <td>DELETE</td></tr>
             </table>
             <style>
                 
             </style>
             <div  class="sum"><span>Subtotal:</span><span id="sum">0</span></div>
         </div>
         <div class="navigation">
             <div>
                 <a href="#">Continue Shopping</a>
                 <button>ORDER NOW</button>
                 
             </div>
         </div>
     </div>
     <div class="popup">
         <h2>Are you sure?</h2>
         <div><a href="" id="yes">Yes</a><a href="" id="no">No</a></div>
     </div>
</div>