@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
@media screen and (min-width:768px) and (max-width: 1024px){
    #wrapper{
        .inspiration{
            margin-top: 150px;
        }
        position: absolute;
        left: 0;
        right: 0;
        width: auto;
       padding: 0 35px;
  background-color: white;
        header{
           
            height: 113px;
          width: 100%;
hr{
    width: 94%;

    position: absolute;
    top: 107px;
}
           font-style: latoReg;
                    line-height: 1;
                    
            .logo{
                 background-image: url("../img/Logo.png");
            position: absolute;
            width: 42px;
            height: 42px;
             left: 20px;
                top: 32px;
                    z-index: 333;
            }
        nav{
            ul{
                position: absolute;
               left: 95px;
               top: 40px;
                li{
                    display: inline-block;
                   
                }
                .buttons{
                   margin-left: 48px;
                }
                .woman{
                  @extend .buttons;
                }
                .men{
                    
                  @extend .buttons;
                }
                .kids{
                    
                  @extend .buttons;
                }
                .soon{
                    
                  @extend .buttons;
                }
            }
        }
        .right_side{
            
            position: absolute;
            right: 70px;
            top: 43px;
            .search{
                display: inline-block;
                position: relative;
                width: 0%;
            min-width: 60px;
            	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
    top: -23px;
right: 36px;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
     input{
        display: inline-block;
        position: absolute;
        right: 0;
    border:1px solid #a3a3a3;
        &[name="search"]{
           right: 59px;
           height: 36px;
         width: 0px;
           	visibility: hidden;
	z-index: 300;
    transition:   1s ease-in-out;
        }
    }
   
    .search-icon{
    display: inline-block;
    position: absolute;
    width: 39px;
    height: 39px;
    border: 1px solid #a3a3a3;;
    text-align: center;
    z-index: 333;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: center center;
        
    }
&:hover{
        .search-icon{
  
  background-image: url('../img/search_hover.png');
  
  background-color: #a3a3a3;
        
    } 
    input[name="search"]{
        visibility: visible;
        width: 90px;
     
    }
    
}
     
            }
            .basket{
                
                display: inline-block;
                position: relative;
                .basket_icon{
                    background-image: url('../img/basket.png');
                    width: 17px;
                    height: 17px;
                    display: inline-block;  
                }
            }
        }
        }
    }
    
    
    #main{
      
        .container{

            .slider{
              margin-top: 242px;
               text-align: center;
               .check_button{
                 border:2px solid #a3a3a3;
                 width: 230px;
                 height: 58px;
                 display: block;
                 line-height: 58px;
                 margin-left: auto;
                 margin-right: auto;
                 margin-top: 75px;
                 &:hover{
                  background-color:#e5e5e5;
                  

                 }
               }
               
            }

                .squares{
                  margin-left: auto;
                  margin-right: auto;
                  width: 95vw;
                  margin-top: 130px;
                  .row{
                    div{
                      width: 23vw;
                      height: 23vw;
                      display: inline-block;
                      
                      background: #dbdbdb;
                 text-align: center;
                 vertical-align: middle;
                  h2{
                      padding-top: 7vw;
                
                   color: white;
                  }

                    }

             &:nth-child(odd){
                 div{
                     &:nth-child(even){
                         background:  #606060;
                         color: white;
                     }
                 }
             }
             &:nth-child(even){
                 div{
                     &:nth-child(odd){
                     
                         background:  #606060;
                         color: white;
                         
                     }
                 }
             }
                  }
                }
                .signup{
                  margin-left: auto;
                  margin-right: auto;
                  width: 90%;
                  text-align: center;
                  margin-top: 8%;
                  form{

              width: 100%;
              margin-top: 60px;
              label{
                input{
                  height: 49px;
                  width: 470px;
                  padding-left: 10px;
                  @include placeholder{
                    font-family: latoItalic;
                    font-size: 11px;
                  }
                }
                       input[type='submit']{
                      
                         height: 54px;
                         width: 94px;
                       outline: none;
                       border:none;
                   position: absolute;
                   text-align: center;
              
                   color:#e5e5e5;
                   background-color: #f68236;
                   &:hover{
                       background-color: #e67429;
                       color:white;
                   }
                     }

              }
                  }
                }
                .inspiration{
                
                }
        }
    }
    footer{
      padding-top: 32px;
      .collection{
        width: 15vw;
      }
      .site{
        left:25vw;
      }
      .shop{
        left:48vw;
      }
      .social{
        left: 80%;
      }
    }

}