@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
@media screen and (max-width:768px) {
  #wrapper{
    padding: 0 3%;

background-color: white;
    header{
          height: 350px;
          border-bottom: 1px solid #606060;
      div{
     
        
      .logo{
        background-image: url("../img/Logo.png");
            position: absolute;
           width: 59px;
    height: 59px;
    top: 21px;
    left: 20px;
    background-repeat: no-repeat;;
    background-position: center;
    background-size: 120%;
    
      }  
      .right_side{
        position: absolute;
           right: 2.5%;
    top: 0.5%;

        .search{
          display: inline-block;
          -webkit-backface-visibility: hidden;
      width: 0%;
            min-width: 60px;
              -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
position: absolute;
    right: 16vw;
    top: 1.8vh;
     input{
        display: inline-block;
        position: absolute;
        right: 0;
    border:2px solid #a3a3a3;
        &[name="search"]{
           right: 59px;
           height: 16px;
         width: 0px;
            visibility: hidden;
  z-index: 300;
    transition:  1s ease-in-out;
        }
    }
    .search-icon{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #a3a3a3;;
    text-align: center;
    z-index: 333;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: center center;
        
    }
    &:hover{
         .search-icon{
  
  background-image: url('../img/search_hover.png');
  
  background-color: #a3a3a3;
        
    } 
    input[name="search"]{
        visibility: visible;
        width: 90px;
    }
    }


        }
        .basket{
          display: inline-block;
          border-left: 1px solid #e3e3e3;
          padding-left: 10px;
              .basket_icon{
                background-image: url("../img/basket.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
    margin-right: 5px;
    margin-top: 12px;


                }
        }
      }
      }
      nav{    border-top: 1px solid #606060;
        position: relative;
        top: 98px;
        padding-top: 15px;
        left: 6px;
          text-align: center;
        ul{
          li{
            margin-bottom: 35px;
          }
        }
      }
     
    }

  }
  #main{ 
    .slider{
      text-align: center;
      .check_button{
        display: none;
      }
    }
.squares{
             margin-top:45px;
             width: 100%;
             .row{
    margin: 0 15vw;
    width: 68.5vw;
                 div{
                 
     
                 
                
                 background: red;
                  height: 190px;
                 vertical-align: top;
                 text-align: center;
                 vertical-align: middle;
               
                 margin-bottom: 1px;
               
                h2{
                    padding-top: 7vw;
                    font-size: 30px;
                   color: white;
                }  
             
             }
             &:nth-child(odd){
 div{
                     &:first-child{
 
                 background: #dbdbdb;
                 height: 235px;
                     }
                     &:nth-child(3){
                     background-color: pink;
                     height: 150px;     
                     }
                     &:last-child{
                      background-color: violet;
                      height: 280px;
                     };
                 }

             }
             &:nth-child(even){
               div{
                     &:first-child{
 
                 background: #dbdbdb;
                 height: 275px;
                     }
                     &:nth-child(3){
                     background-color: pink;
                     height: 195px; 
                     line-height: 1.75;    
                     }
                        &:nth-child(2){
                     background-color: pink;
                     height: 230px;     
                     }
                     &:last-child{
                      background-color: violet;
                      height: 280px;
                     };
                 }
           };
              
          
             }
         }
         .signup{
               text-align: center;
    width: 90vw;
    margin: 7.5vh auto;
    form{
      margin-top: 60px;
      width: 100vw;
      position: relative;
      left: -9.5vw;
    top: -1vh;
      label{
        input{
          height: 48px;
          width: 55vw;
          @include placeholder{
            font-family: latoItalic;
            font-size: 11px;

          }

        }
         input[type='submit']{
                      
                         height: 54px;
                         width: 94px;
                       outline: none;
                       border:none;
                   position: absolute;
                   text-align: center;
              
                   color:#e5e5e5;
                   background-color: #f68236;
                   &:hover{
                       background-color: #e67429;
                       color:white;
                   }
                     }
      }
      }     }
         .inspiration{
            .right {
              left:82vw;
            }
         }
  }
  footer{
    .collection,.site,.shop{
      display: none;
    }
    .social{
      position: static  !important;
      border:none !important;
      margin: 0 auto !important;
      width: 90% !important;
      font-size: 20px !important;
      text-align: center;
      h3{
        text-align: center;
        
        font-size: 26px;
    letter-spacing: 7px;
      }
      p{
        padding-top: 30px;
      }
    }
  }
 }

