

#basket{
    border-bottom: 1px solid #a3a3a3;
header{
  text-align: center;
}    
    .navigation{
width: 100%;
margin: 3% 0;
        a{
            display: inline-block;
         
         position: relative;
         right: -65.5%;
          }
        button{
            
         position: relative;
         right: -73.5%;
             outline: none;
                border: none;
                width: 174px;
                height: 53px;
                font-family: latoReg;
                font-size: 11px;
                background-color: #f68236;
                 transition: background-color 1s,color 1s;
              
                &:hover{
                    background-color: #e67429;
                    color:white;
                }
        }
    }
    header{
        border: none;
    }
    delete{
        cursor: pointer;
    }
    width: 100%;
.sum{
                     background-color: #e5e5e5;
                     text-align: right;
                     padding-right:  10%;
                     span{
                         
                       
                         &:nth-child(1){
                            position: absolute;
                             font-weight: bold;
                             right: 34%;
                         }
                            &:not(:first-child){
                                         margin-right: 12%;
                                              color:#f68236;
                            }                  
                     }
                     
                 }
                
    table{
     
        width: 100%;
        flex-direction: row;
       th{
           td{
               
           font-size: 13px;
           color:#909090;
       text-align: left;
        
           }
       }
        tbody{
            width: 100%;
        justify-content: space-between;
     tr{
         margin: 2% 0;
         font-family: latoReg;
        display: flex;
        td{
             &:first-child{
                     
                      img{
                            border: 1px solid #a3a3a3;
                      }
                  
                  }
        } 
         td:nth-child(2){
       flex-grow: 0;
       width: 45%;
       
        }
        td{
            text-align: left;
    
       width: 20%;
        }
        font-size: 14px;
        border-bottom: 1px solid #e5e5e5;
     
     }
       
        }
    }
    
}
.popup{
    position: fixed;
    left: 35%;
    top: 30%;
    display: none;
    width: 30%;
    height: 105px;
    text-align: center;
    h2{
        padding: 10px;
        color: white;
    }
    border-radius: 5%;
    background-color: grey;
    div{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        a{
            
            display: inline-block;
            border-radius: 10%;
            font-family: latoReg;
            width: 30px;
            height: 30px;
            text-align: center;
            transition: background-color 1s,color 1s;
            color: white;
            &:link{
                text-decoration: none;
            }
            &:hover{
                background-color: whitesmoke;
                text-decoration: none;
                color: black;
            }
        }
    }
    &.display{
        display: block;
    }
}
 .subheader-small{
     color:#a3a3a3;
 }

#ty{
    width: 100%;
    height: 45vh;
    text-align: center;
    div{
        padding: 5% 0;
    }
}
@media screen and (max-width:768px){
  #basket header{
      height: 70px;
  }
  .navigation{
      width: 100%;
      height: 17vh;
  }
  .navigation button{
      position: static !important;
      margin: 0 38%;

  }
  .navigation a{
     // position: absolute !important;
      display: block;
     left: 41%;
     top: 90px;
  }
  .popup{
      height: 150px;
  }
  #basket{
      input[type="number"]{
          width: 3vw !important;
      }
      table{
          border-top: 1px solid #e5e5e5;
          tbody{
              
              tr{
                  padding-bottom:  3vh;
                  &:first-child{
                  display: none;
                  
              }
              td{
                  
                      margin-left: 10px;
                  &:first-child{
                      img{
                          width: 20vw !important;
                          height: 20vh !important;
                      }
                      margin-left: 0px;
                      margin-right:  10px;
                  
                  }
                  &:not(:first-child){
                      display: block;
                      position: relative;
                   }
                   &:nth-child(3){
                         top: 53px;
    left: -20vw;
                   }
                    &:nth-child(4){
                         top: 70px;
    left: -30vw;
                   }
                  
                  &:nth-child(5){
                         top: 90px;
    left: -40vw;
                   }
                
                  &:nth-child(6){
                         top: 120px;
                            right: -15vw;
                   }
                    &:nth-child(7){
                         
                            right: -5vw;
                   }
              }
              }
          }
      }
  }
}