
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

input{
      &:focus{
            box-shadow: none;
       outline: none;
        }
        font-family: latoReg;
        font-size: 14px;
}
a{
    font-style: latoReg;
    font-size: 16px;
}
a:link{
    text-decoration: none;
        color: #303030;
}
a:visited{
    color: #303030;
}
a:hover{
    text-decoration: underline;
}

body{
    font-family: latoReg;
    background: #e5e5e5;
    font-size: 14px;
    line-height: 1.7;
 max-width: 1440px;
}


@keyframes searchAnimation {
    from {width: 0px}
    to {width: 90px}
}
@media screen and (min-width:1025px) {
#wrapper{
     position: absolute;
     left: 6.9%;
     right: 5.9%;
            width: auto;
         
             z-index: 227;
             background: white;
             padding-left: 3%;
    padding-right: 3%;
 header{
  hr{
    display: none;
  }
    height: 113px;
   border-bottom: 1px solid #e5e5e5;
     .logo {
  background-image: url("../img/Logo.png");
 position: absolute;
 top: 31px;
left: 31px;
  width: 42px;
  height: 42px;
  z-index: 226;
    }
    nav{
        ul{
            li{
                @extend .Menu-button;
                display: inline-block;
            }
            .women{
                left: 0.437px;
  
  width: 50px;
  height: 10px;
  z-index: 224;
            }
            .men{
                 left: 101px;
  
  width: 28px;
  height: 10px;
  z-index: 223;
            }
            .kids{
                 left: 184px;

  width: 28px;
  height: 11px;
  z-index: 222;
            }
            .soon{
                  left: 267px;

  width: 130px;
  height: 14px;
  z-index: 221;
            }
            .about{
                  left: 409.437px;

  width: 41px;
  height: 11px;
  z-index: 220;
            }
        }
        position: absolute;
        width: 450px;
        height: 14px;
         top: 30px;
    width: 450px;
    left:130px;
    }
    
    .right_side{
    position: absolute;
          right: 70px;
           top: 45px;
    
        .search{
            display: inline-block;
           position: absolute;
    right: 150px;
    width: 0%;
            min-width: 60px;
            	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

	-webkit-backface-visibility: hidden;
    input{
        display: inline-block;
        position: absolute;
        right: 0;
    border:2px solid #a3a3a3;
        &[name="search"]{
           right: 59px;
           height: 16px;
         width: 0px;
           	visibility: hidden;
	z-index: 300;
    transition:  1s ease-in-out;
        }
    }
    .search-icon{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #a3a3a3;;
    text-align: center;
    z-index: 333;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: center center;
        
    }
&:hover{
        .search-icon{
  
  background-image: url('../img/search_hover.png');
  
  background-color: #a3a3a3;
        
    } 
    input[name="search"]{
        visibility: visible;
       width: 90px;
    }
    
}
        }
        .basket{
                 
            font-family: latoBold;
            font-size: 14px;
           .basket_icon{
             background-image: url("../img/basket.png");
             width: 17px;
             height: 17px;             
             display: inline-block;           
                }
             }
        }
   }
 
}
#main{
   .container{
   margin-top: 150px;
             .slider{
                text-align: center;
                height: 540px-150px;
                .check_button{
                    border:2px solid #a3a3a3;
                    display: block;
                    margin: 80px auto;
                    height: 58px;
                    width: 230px;
                    line-height: 58px;
                    &:hover{
                        text-decoration: none;
                        background-color: #303030;
                        color:#e5e5e5;
                        border-color: #303030;
                    }
         .squares{
             margin:0 20px;
             width: 100%;
             .row{
                 div{
                 
                 width: 290px;
                 height: 290px;
                 max-width: 19vw;
                 max-height: 19vw;
                 background: #dbdbdb;
                 display: inline-block;
                 vertical-align: top;
                 text-align: center;
                 vertical-align: middle;

               
                h2{
                    padding-top: 7vw;
                    font-size: 30px;
                   color: white;
                }  
             
             }
             &:nth-child(odd){
                 div{
                     &:nth-child(even){
                         background:  #606060;
                         color: white;
                     }
                 }
             }
              &:nth-child(even){
                 div{
                     &:nth-child(odd){
                     
                         background:  #606060;
                         color: white;
                     }
                 }
             }
          
             }
         }
                }
         }
 
         .signup{
             margin-top: 140px;
        div{
            text-align: center;
        }
             form{
                 padding-bottom: 135px;
              
              width: 100%;
              margin: 60px 300px 0;
            
                 label{
                    
                          input{
                      height: 49px;
                     width: 470px;
                     padding-left: 10px;
                 
                    @include placeholder{
                         font-family: latoItalic;
                         font-size: 11px;
                          
                    }
                     }
                     input[type='submit']{
                      
                         height: 54px;
                         width: 94px;
                       outline: none;
                       border:none;
                   position: absolute;
                   text-align: center;
              
                   color:#e5e5e5;
                   background-color: #f68236;
                   &:hover{
                       background-color: #e67429;
                       color:white;
                   }
                     }
                 }
             }
         }
         
         
         
         
   }
}




.Menu-button{
      font-size: 16px;
  font-family: latoReg;
  color:  #a3a3a3;
  line-height: 1;
  text-align: left;
  position: absolute;
  top:16.365px;
}
}
h3{
    font-size: 14px;
    font-family: latoReg;
    font-weight: bold;
    text-align: left;
}
h2{
    font-size: 34px;
    line-height: 1.16;
    font-family: latoBold;
    color: #303030;
    
}
h1{
    font-family: latoReg;
    font-size: 69px;
    line-height: 1.5;
  
    color: #303030;
}
.subheader-big{
    font-family: 'Georgia';
    font-style: italic;
    font-size: 24px;
    line-height: 1.45;
    
}
.subheader-small{
    font-family: 'Georgia';
    font-style: italic;
    font-size: 18px;  
}
  footer{
  padding-top: 40px;
   position: relative;
   bottom: 0;
   height: 200px;
   width: 100%;
    ul{ 
       position: absolute;

         
       }
   .collection{
       position: absolute;
       width: 20vw;
       padding-top: 10px;
       height: 170px;
   
   }
   .divlist{
           position: absolute;
       width: 16vw;
       height: 150px;
       padding-left: 30px;
   }
   .site{
 @extend .divlist;
       left: 22vw;
            border-left: 1px solid #e5e5e5;
   
   }
   .shop{
      @extend .divlist;
        left: 42vw;
     
        border-left: 1px solid #e5e5e5;
   }
   .social{
    @extend .divlist;
    left: 57.5vw;
    white-space: nowrap;
        border-left: 1px solid #e5e5e5;
    a:hover{
        text-decoration: none;
    }
        p{
            padding-top: 10px;
            color: #303030;
        }
        .icon-list{
            padding-top: 25px;
            span{
                display: inline-block;
                width: 32px;
                height: 32px;
                border: 2px solid #a3a3a3;
                &:nth-child(n+2){
                    margin-left: 15px;
                }
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 16px;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
            }
            .twitter{
                background-image: url('../img/twitter.png');
            }
            .facebook{
                background-image: url('../img/twitter.png');
                
            }
            .instagram{
                background-image: url('../img/twitter.png');
                
            }
        }
    
   }
  
}
.inspiration{
             width: 100%;
             background-color: grey;
             height: 125px;
             .slide{
                 white-space: nowrap;    
                 overflow-x:hidden;
                 overflow-y: hidden; 
                 div{
                     border:1px solid black;
                 display: inline-block;
                 height: 125px;
                 background-color: #606060;
                
                 background-image:url('../img/placeholder/200x120.png');
                 width: 200px;
                 position: relative;
                 left:0;
                 transition: 1s ease;
             }
             }
             button{
                 position: relative;
                 z-index: 333;
                 top: -135px;
                 height: 130px;
                 width: 40px;
                 background-color: #dbdbdb;
                 outline: none;
                 border:none;
               
             }
                   .left{
                    
                        left: -1px;
             background-image: url("../img/arrow_left.png");
             background-repeat: no-repeat;
             background-position: center center;
          
                        
                }
                .right{
                    left:93.5%;
                             background-image: url("../img/arrow_right.png");
             background-repeat: no-repeat;
             background-position: center center;
                }
         }
      @media screen and (min-width:768px){
             .squares{
                  margin-left: auto;
                  margin-right: auto;
                  width: 95vw;
                  margin-top: 130px;
                  .row{
                    div{
                      width: 20vw;
                      height: 20vw;
                      display: inline-block;
                      
                      background: #dbdbdb;
                 text-align: center;
                 vertical-align: middle;
                  h2{
                      padding-top: 7vw;
                
                   color: white;
                  }

                    }

             &:nth-child(odd){
                 div{
                     &:nth-child(even){
                         background:  #606060;
                         color: white;
                     }
                 }
             }
             &:nth-child(even){
                 div{
                     &:nth-child(odd){
                     
                         background:  #606060;
                         color: white;
                         
                     }
                 }
             }
                  }
                }
      }